<template>
  <div class="main-view">
    <div class="row">
      <div class="small-12 columns">
        <h1>Tag Editor</h1>
        <div class="row">
          <div class="small-12 columns">
            <div class="aa-paper orange">
              <h2>Tags</h2>
              <button class="expanded button" click.trigger="addTag()">Add new tag!</button>
              <div class="row">
                <div repeat.for="tag of tagViewModels" class="small-6 columns">
                  <div class="aa-paper loght-gray">
                    <div class="row">
                      <div class="small-6 columns">
                        <input value.bind="tag.name" type="text">
                      </div>
                      <div class="small-6 columns">
                        <select name="typeSelect" value.bind="tag.type" id="">
                          <option repeat.for="type of challengeTagTypes" value.bind="type.value">${type.name}</option>
                        </select>
                      </div>
                      <div class="small-6 columns">
                        <button class="expanded button" click.trigger="updateTag(tag)">Save</button>
                      </div>
                      <div class="small-6 columns">
                        <button class="expanded button" click.trigger="deleteTag(tag)">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>