<template>
  <div class="main-view">
    <div class="row">
      <div class="columns small-12">
        <div class="row">
          <div class="columns small-12">
            <div class="aa-paper orange">
              <h1>Log in</h1>
              <form name="loginForm">
                <div class="row">
                  <div class="columns small-12">
                    <label for="">Email
                      <input value.bind="email" type="email" placeholder="An email adress. Preferably your own"> 
                    </label>
                  </div>
                  <div class="columns small-12">
                    <label for="">Password
                      <input value.bind="password" type="password" placeholder="Secret and possible made up words..">
                    </label>
                  </div>
                  <div class="columns small-12">
                    <button class="primary button" type="submit" click.trigger="logIn()">Log in</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>