@charset 'utf-8';
@import './custom/aa-mixins';
@import './custom/aa-colors';
@import './custom/aa-fonts';
@import './custom/aa-index';
@import './custom/aa-paper';
@import './settings';
@import '~foundation-sites/assets/foundation';
// @import '~font-awesome/scss/font-awesome';

/*@import 'motion-ui';*/

.label {
  &.label--aa-label {
    margin: 0 2px 2px 0;
  }
}

$banner-height: 180px;
$bar-height: 60px;
.banner {
  position: relative;
  background-color: $aa-primary-orange;
  height: $banner-height;
  .logo-container {
    position: relative;
    width: 100%;
    height: 100%;
    .logo {
      @include aa-standard-shadow-inset(2px, 2px);
      position: relative;
      background-color: $white;
      border-radius: 400px;
      z-index: 1001;
      &.small {
        height: 105px;
        width: 105px;
        left: 5px;
        top: 5px;
      }
      &.normal {
        height: 150px;
        width: 150px;
        left: 15px;
        top: 15px;
      }
    }
  }
  .toolbar {
    background-color: $aa-secondary-orange;
    position: absolute;
    height: $bar-height;
    width: 100%;
    bottom: 0;
    @include aa-standard-shadow(0px, 2px);
    z-index: 1000;
  }
}

.main-navigation {
  background-color: $white;
  /*height: $bar-height;*/
  width: 100%;
}

ul.menu {
  list-style: none;
  li {
    float: left;
    margin: 10px 30px 20px 10px;
    padding: 0;
    a {
      padding: 0;
      margin: 0;
    }
  }
}

@keyframes slideLeftIn {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideLeftOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.au-animate {
  &.main-view {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    &.au-enter {
      transform: translate(100%, 0);
    }
    &.au-enter-active {
      animation: slideLeftIn 0.6s;
    }
    &.au-leave-active {
      animation: slideLeftOut 0.6s;
    }
  }
}


/*.au-animate {
  &.main-view {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: relative;
    -webkit-transition: all 2s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: all 2s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: all 2s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    &.au-enter {
      left: -100% !important;
    }
    &.au-enter-active {
      left: -100% !important;
    }
    &.au-leave {
      left: 0 !important;
    }
    &.au-leave-active {
      left: 100% !important;
    }
  }
}*/

.animated-list {
  .au-animate {
    height: 200px;
    position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    /*-o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); */
    transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    /* easeInOutQuint */
    &.au-enter {
      top: 200px;
      height: 0;
      opacity: 0 !important;
      transform: scaleY(0);
    }
    &.au-enter-active {
      height: 200px;
      top: 0;
      opacity: 1 !important;
      transform: scaleY(1);
    }
    &.au-leave {
      height: 200px;
      top: -200px;
      opacity: 1 !important;
      transform: scaleY(1);
    }
    &.au-leave-active {
      height: 0;
      top: 0;
      opacity: 0 !important;
      transform: scaleY(0);
    }
  }
}