<template>
  <div class="main-view">
    <div class="row">
      <div class="small-12 columns">
        <h1>Challenge Editor</h1>
        <div class="aa-paper peach">
          <h2>Challenge Templates</h2>
          <button class="button expanded" click.trigger="addChallengeTemplate()">Create new challenge!</button>
          <div class="row">
            <div repeat.for="template of challengeTemplateViewModels" click.bind="template.editMode = !template.editMode" class="small-12 medium-6 columns">
              <div class="aa-paper light-gray">
                <form>
                  <div class="row">
                    <div class="small-12 columns">
                      <span if.bind="template.hasChanges === true" class="warning label">Unsaved changes.. <i  class="fa" class.bind="template.isSaving ? 'fa-cog fa-spin' : 'fa-circle-o' "></i></span>
                      <span if.bind="template.hasChanges === false" class="success label">Up to date! <i class="fa fa-check"></i></span>
                    </div>
                    <div class="small-12 columns">
                      <label for="">
                      Title 
                      <input type="text" value.bind="template.title" input.delegate="template.hasChanges = true">
                    </label>
                    </div>
                    <div class="small-12 columns">
                      <label for="">
                      Description
                      <textarea name="" id="" cols="30" rows="1" value.bind="template.description" input.delegate="template.hasChanges = true"></textarea>
                    </label>
                    </div>
                    <div class="small-12 columns">
                      <select name="typeSelect" value.bind="template.type" change.delegate="template.hasChanges = true">
                        <option repeat.for="type of templateTypes" value.bind="type.value">${type.name}</option>
                      </select>
                    </div>
                    <div class="small-12 columns">
                      <div class="callout">
                        <span repeat.for="tag of challengeTagViewModels" click.delegate="assignTag(template, tag)" class.one-way="(tagIsSelected(template, tag) ? 'success' : 'primary') & signal:'tags-clicked'"
                          class="label label--aa-label">
                       ${tag.name}
                      </span>
                      </div>
                    </div>
                    <div class="small-6 columns">
                      <button class="tiny expanded button" click.trigger="updateChallengeTemplate(template)">Save <i class="fa fa-save"></i></button>
                    </div>
                    <div class="small-6 columns">
                      <button class="tiny expanded button" click.trigger="deleteChallengeTemplate(template.id)">Delete <i class="fa fa-trash"></i></button>
                    </div>
                    <div class="small-12 columns">
                      <button class="tiny expanded button" click.delegate="acceptChallenge(template)">
                        Accept!
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>