<template bindable="router">
  <!--<require from="../common/HideFromNavValueConverter"></require>-->
  <div class="banner">
    <div class="row">
      <div class="logo-container">
        <div class="logo normal hide-for-small-only"></div>
        <div class="logo small show-for-small-only"></div>
      </div>
    </div>
    <div class="toolbar">
      <div class="row">
        <h1 style="margin-left: 150px;">${router.currentInstruction.config.title}</h1>
      </div>
      <!--<div class="row">
              <div class="columns small-12 small-offset-0 medium-offset-6 medium-6">
                <div>
                  <div><input class="aa-input" type="text"></div>
                  <div> <button class="aa-input-button">Go!</button> </div>
                </div>
              </div>
            </div>-->
    </div>
  </div>
  <div class="main-navigation">
    <div class="row">
      <ul class="menu">
        <li repeat.for="nav of router.navigation | hideFromNav"><a href.bind="nav.href">${nav.title}</a></li>
        <!--<li><a href="">Dashboard</a></li>-->
        <!--<li><a href="">Progress</a></li>-->
        <!--<li><a href="">Gallery</a></li>-->
        <!--<li><a href="">Study groups</a></li>-->
      </ul>
    </div>
  </div>
  <!--<div class="top-bar top-bar-inverted" ng-controller="topBarController">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-image"><img src="../assets/img/logo-medium.png" style="width: 250px; position: absolute; top: 0;" alt=""></li>
              <li style="width: 220px"></li>
              <li repeat.for="nav of router.navigation">
                <a href.bind="nav.href">${nav.title}</a>
              </li>

            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><a ng-click="logOut()">Log out</a></li>
            </ul>
          </div>
        </div>-->
  <router-view swap-order="with"></router-view>
</template>