<template>
  <div class="main-view">
    <div class="row">
      <div class="small-12 columns">
        <ul class="menu">
          <li repeat.for="nav of router.navigation | hideFromNav"><a href.bind="nav.href">${nav.title}</a></li>
          <!--<li><a href="">Dashboard</a></li>-->
          <!--<li><a href="">Progress</a></li>-->
          <!--<li><a href="">Gallery</a></li>-->
          <!--<li><a href="">Study groups</a></li>-->
        </ul>
      </div>
    </div>
    <router-view swap-order="with"></router-view>
  </div>
</template>