$aa-card-color: #636363;
$aa-top-bar: #464646;
$aa-dark-gray: #464646;
$aa-body-font-color: #797779;
$aa-primary-orange: #FF8242;
$aa-secondary-orange: #FF6919;
$aa-primary-green: #14E2C5;
$aa-secondary-green: #01BEA6;
$aa-primary-red: #FF5779;
$aa-secondary-red: darken($aa-primary-red, 30%);
$aa-primary-peach: #FFA577;
$aa-secondary-peach: darken($aa-primary-peach, 30%);
$aa-primary-light-gray: #D4D2D4;
$aa-secondary-light-gray: darken($aa-primary-light-gray, 30%);