// @font-face {
//   font-family: Lato;
//   src: url('../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Lato;
//   src: url('../../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: Lato;
//   src: url('../../assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: Lato;
//   src: url('../../assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//   font-family: Lato Black;
//   src: url('../../assets/fonts/Lato/Lato-Black.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Lato Black;
//   src: url('../../assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: Lato Hairline;
//   src: url('../../assets/fonts/Lato/Lato-Hairline.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Lato Hairline;
//   src: url('../../assets/fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: Lato Light;
//   src: url('../../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Lato Light;
//   src: url('../../assets/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

// // Quicksand
// @font-face {
//   font-family: Quicksand;
//   src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Quicksand;
//   src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: Quicksand Light;
//   src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Champagne Limousines;
//   src: url('../assets/fonts/Champagne & Limousines/Champagne & Limousines.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Champagne Limousines;
//   src: url('../assets/fonts/Champagne & Limousines/Champagne & Limousines Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: Champagne Limousines;
//   src: url('../assets/fonts/Champagne & Limousines/Champagne & Limousines Bold Italic.ttf') format('truetype');
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//   font-family: Champagne Limousines;
//   src: url('../assets/fonts/Champagne & Limousines/Champagne & Limousines Italic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}