@import '~foundation-sites/scss/global';

body,
html {
  height: 100%;
  padding: 0;
  .off-canvas-wrapper {
    height: 100%;
    padding: 0;
    .off-canvas-wrapper-inner {
      height: 100%;
      padding: 0;
      .off-canvas {
        height: 100%;
        padding: 0;
      }
      .off-canvas-content {
        height: 100%;
        padding: 0;
        .aa-main-view {
          height: 100%;
          margin: $global-margin*2 0 0 0;
        }
      }
    }
  }
}

.top-bar {
  a {
    color: $body-background;
  }
}