@mixin aa-standard-shadow($offsetX, $offsetY) {
  -webkit-box-shadow: $offsetX $offsetY 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: $offsetX $offsetY 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: $offsetX $offsetY 5px 0px rgba(0, 0, 0, 0.5);
}

@mixin aa-standard-shadow-inset($offsetX, $offsetY) {
  -webkit-box-shadow: $offsetX $offsetY 5px 0px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: $offsetX $offsetY 5px 0px rgba(0, 0, 0, 0.5) inset;
  box-shadow: $offsetX $offsetY 5px 0px rgba(0, 0, 0, 0.5) inset;
}