@import './aa-colors';
@import './aa-mixins';
@import '~foundation-sites/scss/global';
.aa-paper {
  color: $white;
  margin: 0 0 20px 0;
  background-color: $aa-card-color;
  @include aa-standard-shadow(2px, 2px);
  padding: $global-padding;
  border-radius: 2px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  &.green {
    background-color: $aa-primary-green;
    ul {
      list-style-type: none;
      margin: 0;
      li {
        background-color: $aa-secondary-green;
        padding: 5px 5px 5px 10px;
        margin: 0 0 10px 0;
        border-radius: 4px;
      }
    }
  }
  &.red {
    background-color: $aa-primary-red;
  }
  &.peach {
    background-color: $aa-primary-peach;
  }
  &.light-gray {
    background-color: $aa-primary-light-gray;
  }
  &.orange {
    background-color: $aa-primary-orange;
  }
}