<template>
  <div class="main-view">
    <div class="row">
      <div class="small-12 columns">
        <div class="aa-paper green">
          <h4>SUGGESTED CHALLENGES</h4>
          <button class="small extended button" click.delegate="getNewSuggestion()">Get new suggestion!</button>
          <ul>
            <li repeat.for="suggestion of suggestedChallenges">
              <div>
                ${suggestion.value.title}
                <button class="small expanded button" click.delegate="acceptSuggestion(suggestion.key)">Accept!</button>
              </div>
            </li>
          </ul>
          <!--<h2><strong></strong></h2>
          <div class="row">
            <div class="columns small-12">
              <input type="file" files.bind="selectedFiles">
              <button class="expanded button" click.trigger="uploadFile()">Upload new image!</button>
            </div>
            <div class="columns small-12">
              <ul class="no-bullet animated-list">
                <li class="au-animate" repeat.for="ref of imageRefs">
                  <img src.bind="ref" alt="">
                </li>
              </ul>
              <button class="button" click.trigger="addShit()"></button>
            </div>
          </div>-->
        </div>
      </div>
      <div class="small-12 columns">
        <div class="aa-paper green">
          <h4>ACTIVE CHALLENGES</h4>
          <ul>
            <li repeat.for="challenge of activeChallenges">
              <div>
                ${challenge.value.title}
              
               <div>
                  <label class="small button">
                    Upload!
                    <input style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" type="file" accept="image/*"  files.bind="selectedFiles[challenge.key]">
                  </label>
                </div>
                <div>
                  <img src.bind="selectedFiles[challenge.key][0] | blobToUrl"><img>
                  ${selectedFiles[challenge.key][0].name}
                  
                </div>
                  
                 <!---->
<!--                
                <button class="small expanded button" click.delegate="completeChallenge(challenge.key)">
                  Complete!
                </button>-->
              </div>
            </li>
          </ul>
          <!--<h2><strong></strong></h2>
          <div class="row">
            <div class="columns small-12">
              <input type="file" files.bind="selectedFiles">
              <button class="expanded button" click.trigger="uploadFile()">Upload new image!</button>
            </div>
            <div class="columns small-12">
              <ul class="no-bullet animated-list">
                <li class="au-animate" repeat.for="ref of imageRefs">
                  <img src.bind="ref" alt="">
                </li>
              </ul>
              <button class="button" click.trigger="addShit()"></button>
            </div>
          </div>-->
        </div>
      </div>
      <div class="small-12 columns">
        <div class="aa-paper peach">
          <h4>COMPLETED CHALLENGES</h4>
          <ul>
            <li repeat.for="challenge of completedChallenges">${challenge.value.title}</li>
          </ul>
          <!--<h2><strong></strong></h2>
          <div class="row">
            <div class="columns small-12">
              <input type="file" files.bind="selectedFiles">
              <button class="expanded button" click.trigger="uploadFile()">Upload new image!</button>
            </div>
            <div class="columns small-12">
              <ul class="no-bullet animated-list">
                <li class="au-animate" repeat.for="ref of imageRefs">
                  <img src.bind="ref" alt="">
                </li>
              </ul>
              <button class="button" click.trigger="addShit()"></button>
            </div>
          </div>-->
        </div>
      </div>
      <div class="columns small-12 large-6">
      </div>
      <div class="columns small-12 large-6">
        <div class="aa-paper peach"> <span>EVERY JOURNEY STARTS WITH ONE STEP</span>
          <div> - Unknown</div>
        </div>
      </div>
    </div>
  </div>
</template>