<template>
  <div class="main-view">
    <div class="row">
      <div class="small-12 columns">
        <div class="aa-paper peach">
          <h1>Home!</h1>
        </div>
      </div>
    </div>
  </div>
</template>