<template>
  <div class="main-view">
    <div class="row">
      <div class="columns small-12">
        <div class="aa-paper peach">
          <h1>Register</h1>
          <form name="registerForm" novalidate>
            <div class="row">
              <div class="columns small-12">
                <label for="email">Email
                  <input id="email" name="email" value.bind="email" type="email" placeholder="Made up words">
                </label>
              </div>
              <div class="columns small-12">
                <label for="">Password
                  <input name="password" value.bind="password" type="password" placeholder="Secret and possibly made up words..">
                </label>
              </div>
              <div class="columns small-12">
                <button class="primary button" type="submit" click.trigger="registerNewUser(email, password)">
                  Create user
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>